{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container">
                <br>
              <div class="row justify-content-center bg bg-dark rounded">
                  <div class="col-12">
                      <br>
                      <br>
                      <h4>Friend Requests</h4>
                      {% if requests==0 %}
                        <h6>You have no friend requests.</h6>
                      {% elif requests==1 %}
                        <h5>You have a friend request.</h5>
                      {% else %}
                      <h6>You have {{requests}} friend requests.</h6>
                      {% endif %}
                      <hr style="border-top: 1px solid #343a40 ; background: transparent;">
                  </div>
              </div>
              <hr style="border-top: 1px solid #181A1A ; background: transparent;">
              {% for fr in friendships %}
                        {% for i in all_users %}
                            {% if i.id==fr.user1_id %}
                                <div class="row justify-content-center bg bg-dark rounded">
                                    <hr style="border-top: 1px solid #343a40 ; background: transparent;">
                                  <div class="col-12">
                                      <br>
                                <a class="text-light" href="/profile/{{i.id}}"><h4 class="mr-3"><img class="rounded-circle account-img mr-3" style="width:35px; height: 35px;" src="{{ url_for('static',filename='profile_pics/' + i.image_file) }}">{{i.username}}</h4></a>
                                <br>
                                <a class="text-light" href="/accept_friendship/{{fr.id}}"><img  src="{{add_icon}}" style="width:24px; height: 24px;">Accept</a>
                                <a class="text-light" href="/ignore_friendship/{{fr.id}}"><img  src="{{remove_icon}}" style="width:24px; height: 24px;">Ignore</a>
                                      <hr style="border-top: 1px solid #343a40 ; background: transparent;">
                                  </div>
                                </div>
                                <hr style="border-top: 1px solid #181A1A ; background: transparent;">

                            {% endif %}
                        {% endfor %}
              {% endfor %}
          </div>
{% endblock %}



