{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<main role="main">
    <div style="background:transparent !important" class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to... Jiului Blog</h1>
        <p>So in this blog i will talk nothing and nobody has to read it.</p>
        <p>To start your journey in my world press the button below.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}